# Archivos temporales de Vivado
*.jou
*.log
*.str
*.pb
*.wdb
*.webtalk*

# Cachés y resultados intermedios
.cache/
.xilinx/
.Xil/

# Archivos del sistema operativo
*.DS_Store
Thumbs.db

# Backups y archivos temporales
*~
*.backup*
*.tmp

